/* src/components/Masonry.css */
.masonry-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.masonry-item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 8px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.masonry-item-wrapper > .masonry-item-img {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.masonry-item-wrapper:hover > .masonry-item-img {
  box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.3);
}
